#quiz-1.popup.uk-flex-top(data-uk-modal)
  .popup__body.uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical
    button.popup__close.uk-modal-close-default(type="button" data-uk-close)
    .quiz__main 
      .quiz-slide-wrap
        +quiz-slide-first(1)
        .quiz-slide.quiz-active(data-title= lang[51])
          h3= lang[51]
          +picture(jpg, `${modules}quiz-woman`, 'sl', 'l')(class="quiz__img-woman")
          .quiz__radio-wrap.quiz-radio-wrap
            +quiz-radio(lang[52][0], '', `${modules}quiz-opt-flat`)
            +quiz-radio(lang[52][1], '', `${modules}quiz-opt-cott`)(class="quiz-active")
        .quiz-slide(data-title=lang[53])
          h3= lang[53]
          +picture(jpg, `${modules}quiz-hand`, 'sl', 'l')(class="quiz__img-hand")
          .quiz__radio-wrap.quiz-radio-wrap
            +quiz-radio(lang[52][4], '', `${modules}quiz-opt-once`)
            +quiz-radio(lang[52][5], '', `${modules}quiz-opt-full`)
            +quiz-radio(lang[52][6], '', `${modules}quiz-opt-rep`)(class="quiz-active")
        +quiz-slide-dimentions()
        +quiz-slide-final()
      +quiz-nav(4)


      
    
    