#quiz-2.popup.uk-flex-top(data-uk-modal)
  .popup__body.uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical
    button.popup__close.uk-modal-close-default(type="button" data-uk-close)
    .quiz__main 
      .quiz-slide-wrap
        +quiz-slide-first(2)
        .quiz-slide.quiz-active(data-title=lang[51])
          h3= lang[51]
          +picture(jpg, `${modules}quiz-woman`, 'sl', 'l')(class="quiz__img-woman")
          .quiz__radio-wrap.quiz-radio-wrap
            +quiz-radio(lang[52][2], '', `${modules}quiz-opt-office`)
            +quiz-radio(lang[52][3], '', `${modules}quiz-opt-rest`)(class="quiz-active")
        +quiz-slide-dimentions()
        +quiz-slide-final()
      +quiz-nav(3)
      


      
    
    